/* Thumbnail height: 160px */

.thumbnail-url-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: rgba(253, 246, 227, 0.5);
    text-align: center;
    font-weight: bold;
    text-color: #586e75;
    text-shadow: 0 0 15px white, 0 0 5px white;
}

.thumbnail-url-alignment {
    display: inline-block;
    padding: 18px 0;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-url-overlay .middle {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.thumbnail-url-overlay .top, .thumbnail-url-overlay .bottom {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.thumbnail-url-overlay .top {
    text-align: left;
}

.thumbnail-url-overlay .bottom {
    text-align: right;
}
